= wrap_layout :layout do
  %article.h-entry
    %header
      %h1.p-name= current_article.title
      %time.dt-published(datetime="#{current_article.date.strftime('%Y-%m-%e')}")
        = current_article.date.strftime('%Y-%m-%e')
    %section.e-content= yield
