---
title: ASC Blog
pageable: true
per_page: 10
---
- if paginate && num_pages > 1
  %p Page #{page_number} of #{num_pages}

  - if prev_page
    %p= link_to 'Previous page', prev_page

- page_articles.each_with_index do |article, i|
  %article.h-entry
    %header
      %h1.p-name= link_to article.title, article
      %time.dt-published(datetime="#{article.date.strftime('%Y-%m-%e')}")
        = article.date.strftime('%Y-%m-%e')
    -# use article.summary(250) if you have Nokogiri available to show just the first 250 characters
    %section.e-content= article.body

- if paginate && next_page
  %p= link_to 'Next page', next_page
